@font-face {
  font-family: "Circular-Std-Book";
  src: url("../public/font/CircularStd-Book.otf") format("opentype");
}

body {
  margin: 0;
  font-family: "Circular-Std-Book" !important;
  background-color: #121212 !important;
  color: white !important;
  overflow-x: hidden;
}